/* 腾讯互娱重构外包页面规范 V1.0 通用版（支持html5）*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
table { border-collapse: collapse; border-spacing: 0; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; font-variant: normal; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }
a { text-decoration: none; }

.clearfix:after { display: block; clear: both; content: ""; visibility: hidden; height: 0; }
.clearfix { zoom: 1; }

/* 去掉点击的阴影 */
html * { outline: 0; font-family: '\5FAE\8F6F\96C5\9ED1'; font-size: 0.28rem; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-appearance: none; /*消除输入框和按钮的原生外观*/ }

body { background-color: #f0f0f0; }

.cOrange { color: #f60; }

.mt10 { margin-top: 0.2rem; }

.J_header { position: relative; height: 1rem; border-bottom: 0.02rem solid #ddd; background-color: #fcfcfc; }
    .J_header .h_left { position: absolute; left: 0; top: 0.04rem; }
        .J_header .h_left a { display: block; margin-top: 0.3rem; padding: 0 0.2rem; height: 0.32rem; background: url(../images/return.png) no-repeat; background-position: 0.2rem; background-size: auto 100%; }
    .J_header .h_center { height: 1rem; line-height: 1rem; text-align: center; font-size: 0.36rem; color: #f60; }
    .J_header .h_right { }

.J_error { margin-top:0.2rem; text-align:center;color:#f00; }

.J_nav { position: relative; border-bottom: 0.02rem solid #ddd; background-color: #ffffff; }
    .J_nav .n_item { float: left; width: 25%; }
        .J_nav .n_item .i_default { position: relative; text-align: center; }
            .J_nav .n_item .i_default .d_txt { padding: 0.2rem 0; }
                .J_nav .n_item .i_default .d_txt a { display: block; height: 0.4rem; line-height: 0.4rem; border-right: 0.02rem solid #ddd; background: url(../images/drop.png) no-repeat; background-position: top right; background-size: auto 100%; color: #333; }
            .J_nav .n_item .i_default .d_token { display: none; position: absolute; left: 50%; top: 0.5rem; margin-left: -0.16rem; width: 0; height: 0; overflow: hidden; border: 0.16rem solid transparent; border-bottom-color: #ddd; }
            .J_nav .n_item .i_default .d_token2 { display: none; position: absolute; left: 50%; top: 0.52rem; margin-left: -0.16rem; width: 0; height: 0; overflow: hidden; border: 0.16rem solid transparent; border-bottom-color: #fff; }
        .J_nav .n_item .i_menu { display: none; position: absolute; z-index:1; top: 0.82rem; left: 0; width: 100%; background-color: #fff; }
            .J_nav .n_item .i_menu .m_title { margin: 0 0.2rem; padding: 0 0.2rem; line-height: 0.8rem; border-bottom: 0.02rem solid #f60; color: #f60; }
            .J_nav .n_item .i_menu .m_txt { margin: 0 0.2rem; padding: 0 0.2rem; line-height: 0.8rem; border-bottom: 0.02rem solid #ddd; }
                .J_nav .n_item .i_menu .m_txt a { color: #333; }


        .J_nav .n_item.active .i_menu { display: block; }
        .J_nav .n_item.active .i_default .d_token { display: block; }
        .J_nav .n_item.active .i_default .d_token2 { display: block; }


.J_jjsList { }
    .J_jjsList .j_item { position: relative; margin-bottom: 0.2rem; padding: 0.2rem 0.2rem 0.2rem 1.8rem; background-color: #fff; }
        .J_jjsList .j_item .i_left { position: absolute; left: 0.2rem; top: 0.2rem; }
            .J_jjsList .j_item .i_left .l_pic { width: 1.36rem; height: 1.36rem; border: 0.02rem solid #ddd; border-radius: 0.06rem; text-align: center; }
                .J_jjsList .j_item .i_left .l_pic img { margin-top: 0.44rem; vertical-align: top; }
            .J_jjsList .j_item .i_left .l_btn { width: 1.4rem; }
                .J_jjsList .j_item .i_left .l_btn a { display: block; margin-top: 0.2rem; height: 0.52rem; line-height: 0.52rem; background-color: #f60; border-radius: 0.06rem; text-align: center; color: #fff; }
        .J_jjsList .j_item .i_right { min-height: 1.4rem; }

            .J_jjsList .j_item .i_right .r_title { width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 0.32rem; color: #000; }
            .J_jjsList .j_item .i_right .r_txt { font-size: 0.24rem; color: #666; }
                .J_jjsList .j_item .i_right .r_txt span { font-size: 0.24rem; }



.J_jjsInfo { padding: 0.2rem; background-color: #fff; }
    .J_jjsInfo .j_logo { }
        .J_jjsInfo .j_logo img { vertical-align: top; }
    .J_jjsInfo .j_list { margin-top: 0.2rem; padding-bottom: 0.2rem; background-color: #f6f6f6; }
        .J_jjsInfo .j_list .l_title { height: 0.8rem; line-height: 0.8rem; background: url(../images/dot_ddd.png) repeat-x left center; text-align: center; }
            .J_jjsInfo .j_list .l_title span { display: inline-block; padding: 0 0.2rem; background-color: #f6f6f6; color: #666; }
        .J_jjsInfo .j_list .l_main { }
            .J_jjsInfo .j_list .l_main .m_item { float: left; margin: 0 0.2rem; width: 1.1rem; text-align: center; }
                .J_jjsInfo .j_list .l_main .m_item .i_title { line-height: 0.52rem; background-color: #2d8bc8; color: #fff; }
                .J_jjsInfo .j_list .l_main .m_item .i_num { line-height: 0.52rem; background-color: #efefef; font-size: 0.32rem; color: #f60; }

    .J_jjsInfo .j_btn { margin-top: 0.2rem; text-align: center; }
        .J_jjsInfo .j_btn a { display: inline-block; padding: 0 0.6rem; line-height: 0.6rem; background-color: #f60; border-radius: 0.06rem; text-align: center; color: #fff; }

.J_tableTitle { line-height: 0.8rem; padding: 0 0.2rem; color: #f60; }

.J_table { background-color: #fff; }
    .J_table table { width: 100%; }
    .J_table td { padding: 0.2rem 0; border-bottom: 0.02rem solid #eee; color: #666; }
        .J_table td.t_title { padding: 0 0.2rem; color: #333; }

.J_btnGroup { margin-top: 0.2rem; padding-bottom:0.2rem; text-align:center; }
    .J_btnGroup a { display:inline-block; width:5.6rem; height: 0.8rem; line-height: 0.8rem; color: #fff; background-color: #56a7eb; text-align: center; border-radius: 0.1rem; font-weight: bold; }
        .J_btnGroup a.orange { background-color: #f60; }
        .J_btnGroup a.green { background-color: #1aaa17; }
        .J_btnGroup a.red { background-color: #f60; }
        .J_btnGroup a.gray { background-color: #ccc; }


.J_form { background-color:#fff; }
    .J_form .f_item { position:relative; padding:0.2rem 0.2rem 0.2rem 1.6rem; border-bottom:0.02rem solid #ddd; }
        .J_form .f_item .i_left { position:absolute; left:0.2rem; top:0.2rem; }
            .J_form .f_item .i_left select { }
            .J_form .f_item .i_left .l_txt { color:#333; }
        .J_form .f_item .i_right { position:relative; height:0.4rem; }
            .J_form .f_item .i_right input { border-style:none; border:0; outline:none; }
            .J_form .f_item .i_right .r_btn { display:block; position:absolute; top:0; right:0; padding:0 0.2rem; height:0.4rem; line-height:0.4rem; border:0.02rem solid #ddd; color:#666; }
                .J_form .f_item .i_right .r_btn.gray { background-color:#ddd; color:#999; }